/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Estos estilos resetean los estilos aplicados por defecto en los distintos navegadores para obtener una apariencia similar en todos ellos.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*///////////// Fin del reset de Eric Meyer //////////////////////*/

/* 	Modifica el modelo de cajas (box-model) 
	creando los márgenes interiores (padding) 
	y exteriores (margin) dentro de las medidas del elemento
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* 	Evita que las imágenes aumenten de tamaño al aplicarles márgenes.
	Referencia a ésta situación en los comentarios de:
	https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
img { box-sizing: content-box; }

/* 	Esta declaración obliga a los elementos a constreñir su ancho
	al ancho del elemento que los contiene. Permitiendo así que 
	regulen su tamaño aún cuando se modifique el tamaño del visor
*/
img,
embed,
object,
video {
	max-width: 100%;
}

/* Estos estilos establecen las características del visor en dispositivos móviles */
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/**/
a{
	text-decoration: none;
}	 

/*
	ADELANTE CON LA METRALLA (⌐■_■)--︻╦╤─ - - - (╥﹏╥) 
*/
body{
	
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
}
/******************************
		LANDING
*******************************/
.portada{
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
}
.idiomas a{
    color: rgba(255,0,0,0.7);
}
.idiomas a:hover{
    color: rgba(0,0,0,0.7);
}
.idiomas{
	position: relative;
	left: 50%;
	margin-top: 20px;
}
/*****************************
		HOME
*****************************/
.nav_secciones{
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 300;
}
.nav_secciones_interior{
	position: absolute;
	top: 50px;
	right: 20px;
	font-weight: 300;
}

.nav_footer{
	font-weight:300;
	position: fixed;
	bottom: 0px;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.seccion_meta{
	vertical-align: super;
}
.iconos{
	display: inline;
}
.seccion_meta,
.seccion{
	padding: 0px 10px;
	color: rgba(140,140,140,1);
}
.seccion_meta:hover,
.seccion:hover{
	color: black;
}
.seleccionada{
	font-weight: 600;
	color: black;
}
.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}
.logo img{
	width: 250px;
}
.logo_peque{
	position: absolute;
	top: 13px;
	left: 13px;
}
.logo_peque img{
	width: 80px;
}

/*********************************
			MANIFESTO
**********************************/
.titulo_manifesto{
	display: none;
	text-transform: uppercase;
	position: absolute;
	top: 25%;
	left: calc(50% - 70px);
	color: red;
	width: 140px;
	font-size: 24px;
	font-weight: 300;
}
.texto_manifesto{
	font-family:'Rokkitt', serif;
	display: none;
	text-align: justify;
	position: absolute;
	top: 30%;
	left: calc(50% - 200px);
	font-size: 1.2em;
	font-weight: 400;
	width: 400px;
}
.cerrar_manifesto{
	position: absolute;
	top: 30px;
	right: 30px;
	color: red;
}
#musica{
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: red;
	cursor: pointer;
}
/*********************************
			GRID ARTISTAS
**********************************/
.grid_artistas{
	width: 980px;
	height: auto;
	margin: 0px auto;
	padding-top: 150px;
}
.artista{
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px; 
	overflow: hidden;
	-webkit-filter: grayscale(100%) brightness(105%) contrast(90%);
	filter: grayscale(100%) brightness(105%) contrast(90%);
}

.artista:hover {
	-webkit-filter: none;
	filter: none;
}
.artista h3{
	position: absolute;
	display: none;
	color: red;
	bottom: 200px;
	font-weight: 700;
	font-size: 2em;
	z-index: 200;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.artista a{
	display: none;
	position: absolute;
	color: white;
	bottom: 100px;
	font-weight: 700;
	font-size: 2em;
	z-index: 200;
	padding: 3px;
	border: 2px solid white;
	cursor: pointer;
	left: 20% ;
}
/*********************************
			PÁGINA ARTISTA
**********************************/

.contenedor_artista{
	max-width: 980px;
	margin: 0 auto;
	padding: 150px 20px 0px 20px;
}
.artista_interior{
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px; 
	overflow: hidden;
}
.nombre_artista{
	font-family: 'Josefin Sans', sans-serif;
	color: red;
	font-size: 2.4em;
	font-weight: 600;
	line-height: 1.7em;
}
.lineas{
	font-weight: 300;
}
.texto_artista{
	display: inline-block;
	font-size: 1.2em;
	padding: 10px;
	font-weight: 300;
	font-family:'Rokkitt', serif;
}
.souncloud_player{
	margin-top: 10px !important;
	float: right !important;
}

/**********************************************************
	Clases para manejar los efectos del plugin tilt.js
	http://tympanus.net/codrops/2015/05/28/image-tilt-effect/comment-page-1/#comments
**********************************************************/
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}
/***********************
SOUNDCLOUD PLAYER
************************/


















