/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Estos estilos resetean los estilos aplicados por defecto en los distintos navegadores para obtener una apariencia similar en todos ellos.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*///////////// Fin del reset de Eric Meyer //////////////////////*/

/* 	Modifica el modelo de cajas (box-model) 
	creando los márgenes interiores (padding) 
	y exteriores (margin) dentro de las medidas del elemento
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* 	Evita que las imágenes aumenten de tamaño al aplicarles márgenes.
	Referencia a ésta situación en los comentarios de:
	https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
img { box-sizing: content-box; }

/* 	Esta declaración obliga a los elementos a constreñir su ancho
	al ancho del elemento que los contiene. Permitiendo así que 
	regulen su tamaño aún cuando se modifique el tamaño del visor
*/
img,
embed,
object,
video {
	max-width: 100%;
}

/* Estos estilos establecen las características del visor en dispositivos móviles */
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/**/
a{
	text-decoration: none;
}	 

/*
	ADELANTE CON LA METRALLA (⌐■_■)--︻╦╤─ - - - (╥﹏╥) 
*/
body{
	font-family: 'Josefin Sans', sans-serif;
}
/******************************
		LANDING
*******************************/
	.portada{
		width: 100%;
		height: 100%;
	}
	#logo{
		width: 250px;
	}
	#letras{
		opacity: 1;
	}
	/**/
	#letras .path {
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	  fill-opacity:0;
	  -webkit-animation: dash 6s 1.3s ease-out forwards, opacity 2s 2s linear forwards;
	  animation: dash 6s 1.3s ease-out forwards, opacity 2s 2s linear forwards;
	  
	  
	}
	@-webkit-keyframes dash {
	  to {
	    stroke-dashoffset: 0;
	  }
	}
	@-webkit-keyframes opacity {
	  to {
	    fill-opacity: 1;
	  }
	}
	@keyframes dash {
	  to {
	    stroke-dashoffset: 0;
	  }
	}
	@keyframes opacity {
	  to {
	    fill-opacity: 1;
	  }
	}
	/**/
	#puntos{
		opacity: .3;
		-webkit-animation: puntos 5s forwards;
		animation: puntos 5s forwards;
	}
	@-webkit-keyframes puntos {
	  to {
	    opacity: 1;
	  }
	}
	@keyframes puntos {
	  to {
	    opacity: 1;
	  }
	}
	.idiomas a{
	    color: rgba(255,0,0,0.7);
	}
	.idiomas a:hover{
	    color: rgba(0,0,0,0.7);
	}
	.idiomas{
		opacity: 0;
		position: absolute;
		left: 47%;
		bottom: -40px;
		-webkit-animation: idiomas 2s 2s linear forwards;
		animation: idiomas 2s 2s linear forwards;
	}
	@-webkit-keyframes idiomas {
	  to {
	    opacity: 1;
	  }
	}
	@keyframes idiomas {
	  to {
	    opacity: 1;
	  }
	}
	#demo-canvas{
		opacity: 1;
		-webkit-animation: canvas-opacity 2s 2s linear forwards;
		animation: canvas-opacity 2s 2s linear forwards;
	}
	@-webkit-keyframes canvas-opacity {
	  to {
	    opacity: .3;
	  }
	}
	@keyframes canvas-opacity {
	  to {
	    opacity: .3;
	  }
	}
/*****************************
		NAVEGACIÓN
*****************************/
	.nav_secciones{
		position: fixed;
		right: 15px;
		top: 15px;
	}
	.nav_secciones a{
		display:block;
		position: relative;
		padding: 5px 0;
		color: rgba(140,140,140,1);
	}
	.nav_secciones a span::before{
		content: "";
	    position: absolute;
	    left: -5px;
	    width: calc(100% + 5px);
	    bottom: 5px;
	    border-bottom: 1px solid rgba(0,0,0,0.3);
	    opacity: 0;
	    -webkit-transition:all .2s;
	    transition:all .2s;
	}
	.nav_secciones a span:hover::before{
	    bottom: 12px;
	    opacity: 1;
	}
	.seleccionada{
		color: black !important;
	}
	.nav_secciones .seleccionada::before{
		content: "";
	    position: absolute;
	    left: -5px;
	    width: 100%;
	    bottom: 12px;
	    border-bottom: 1px solid rgba(255,0,0,0.3);
	}
	
	
	.nav_footer{
		font-weight:300;
		position: fixed;
		bottom: 0px;
		left: 50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
	}
	.iconos{
		display: inline;
	}
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%, -50%);
		transform:translate(-50%, -50%);
	}

	.logo_peque{
		position: absolute;
		top: 13px;
		left: 13px;
	}
	.logo_peque img{
		width: 80px;
	}
/*********************************
		MANIFESTO
**********************************/
	.manifesto{
		position: relative;
		width: 695px;
		margin: 150px auto;
	}
	.titulo_manifesto{
		display: none;
		text-transform: uppercase;
		position: absolute;
		font-size: 1.4rem;
		font-weight: 300;
		border:1px solid red;
		padding: 10px;
		height: 2.3rem;
		margin-bottom: 15px;
	}
	.texto_manifesto{
		font-family: 'Source Code Pro', monospace ;
		display: none;
		text-align: justify;
		position: absolute;
		top: 50px;
		left: calc(50% - 345px);
		font-size: 1rem;
		font-weight: 300;
		line-height: 150%;
		width: 695px;
	}
	.texto_manifesto a{
		color: red;
	}
	.cerrar_manifesto{
		position: absolute;
		top: 30px;
		right: 30px;
		color: red;
	}



	#musica span::before{
		content: "";
	    position: absolute;
	    width: 100% ;
	    height: 2px;
	    bottom: 0px;
	    border-bottom: 1px solid rgba(0,0,0,0.3);
	    -webkit-transition:all .2s;
	    transition:all .2s;
	}
	#musica span:hover::before{
	    bottom: 7px;
	}
	

	#musica{
		display: none;
		text-transform: uppercase;
		position: absolute;
		right: 15px;
		color: rgba(0,0,0,0.6);
		cursor: pointer;
		font-size: 0.8rem;

	}
	.sonando{
		color:red !important;
	    -webkit-transition:all .2s;
	    transition:all .2s;
	}
/***********************
		SOUNDCLOUD PLAYER
************************/
	#player{
		display: inline-block;
	  position: relative;
	  width: 100px;
	  z-index: 500;
	  height: 60px;
	  padding-top: 18px;
	  margin-left: 15px;
	}
	.mini-scrubber,
	.start-time,
	.stop-time,
	.mini-connect,
	.mini-info,
	.mini-social{
		display: none !important;
	}
	 .slider{
		position: absolute;
		height: 20px;
		color: red;
		top:10px;
	}
	.td.player.light {
	  border:none;
	}
	.controls i{
		color:rgba(0,0,0,0.6);
	}
/***********************
     YOUTUBE PLAYER
************************/

#ytplayer{
	width: 695px;
	height: 391px;
	background-color: black;
	opacity: 0;
	transition: all .2s;
	-webkit-transform: rotateX( -90deg ); 
	transform: rotateX( -90deg ); 
	-webkit-transform-origin:top;
	transform-origin:top;
}
.filmografia{
		position: relative;
		width: 695px;
		margin: 150px auto;
		
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective:1000px;
	perspective:1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	}
.titulo_filmografia{
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 300;
		border:1px solid red;
		padding: 10px;
		height: 2.3rem;
		margin-bottom: 25px;
	}
	.logo_filmografia{
		height: 40px;
		position: absolute;
		right: 0;
	}
	.texto_filmografia{
		font-family: 'Source Code Pro', monospace ;
		/*text-align: justify;*/
		font-size: 1rem;
		font-weight: 300;
		line-height: 150%;
		margin-bottom: 25px;
	}
	.boton_ytplayer{
		color: red;
		cursor: pointer;
	}

	.ytplayer_visible{
		opacity: 1 !important;
		-webkit-transform: rotateX( 0deg ) !important; 
		transform: rotateX( 0deg ) !important; 
	}
/***********************
     MAPA CONTACTO
************************/
/*.contenedor_contacto{
	font-size: 22px;
	text-transform: uppercase;
	text-align: justify;
	width: 400px;
	height: 506px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}*/
.contenedor_contacto span{
	font-family: 'Rokkitt', serif;
	color: red;
	cursor: pointer;
	vertical-align:2px; 
}
.formulario,
#map { 
	width: 500px;
	height: 300px;
	position: absolute;
}	
.leaflet-bar {
  box-shadow: none; 
  border-radius: none; 
}
.formularioactivo{
	-webkit-transform: none !important;
	transform:none !important;
	opacity: 1 !important;
}
/***********************
     CONTACTO CUBO
************************/
.contenedor_cubo{
	width: 500px;
	height: 300px;
	position: relative;
	top: 30vh;
	left: calc(50% - 250px);
	perspective:1000px;
}
#cubo{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: transform 1s;
	-webkit-transform: translateZ(-100px);
	-webkit-transform-style: preserve-3d;
	transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.2);
	transform: translateZ(-100px);
	transform-style: preserve-3d;
}
#cubo div{
	width:  500px;
	height:  300px;
	display: block;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#cubo .frente{ 
	font-size: 30px;
	text-align: justify;
	-webkit-transform: rotateX(  0deg ) translateZ( 100px );
	transform: rotateX(  0deg ) translateZ( 100px ); 
}
.arriba{ 
	opacity: 0;
	transition: all .2s;
	-webkit-transform: rotateX(  90deg ) translateZ( 100px );
	transform: rotateX(  90deg ) translateZ( 100px ); 
}
.abajo{ 
	opacity: 0;
	transition: all .2s;
	-webkit-transform: rotateX( -90deg ) translateZ( 100px ); 
	transform: rotateX( -90deg ) translateZ( 100px ); 
}
.frente_visible{ 
	-webkit-transform: translateZ( -100px ) rotateY(    0deg ); 
	transform: translateZ( -100px ) rotateY(    0deg ); 
}
.arriba_visible{ 
	-webkit-transform: translateZ( -100px ) rotateX(  -90deg )!important; 
	transform: translateZ( -100px ) rotateX(  -90deg ) !important; 
}
 .abajo_visible{ 
	-webkit-transform: translateZ( -100px ) rotateX(   90deg )!important; 
	transform: translateZ( -100px ) rotateX(   90deg )!important; 
}
.opaco{
	opacity:1;
}

.boton_frente{
	cursor: pointer;
	width: 15px;
	height: 15px;
	position: absolute;
  right: 10px;
  top: 30px;
  color: red;
}
.boton_abajo,
.boton_arriba{
	font-family: 'Rokkitt', serif;
	color: red;
	text-transform: uppercase;
	cursor: pointer;
	vertical-align:2px;
}























