/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   Estos estilos resetean los estilos aplicados por defecto en los distintos navegadores para obtener una apariencia similar en todos ellos.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*///////////// Fin del reset de Eric Meyer //////////////////////*/

/* 	Modifica el modelo de cajas (box-model) 
	creando los márgenes interiores (padding) 
	y exteriores (margin) dentro de las medidas del elemento
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* 	Evita que las imágenes aumenten de tamaño al aplicarles márgenes.
	Referencia a ésta situación en los comentarios de:
	https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
img { box-sizing: content-box; }

/* 	Esta declaración obliga a los elementos a constreñir su ancho
	al ancho del elemento que los contiene. Permitiendo así que 
	regulen su tamaño aún cuando se modifique el tamaño del visor
*/
img,
embed,
object,
video {
	max-width: 100%;
}

/* Estos estilos establecen las características del visor en dispositivos móviles */
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/**/
a{
	text-decoration: none;
}	 

/*
	ADELANTE CON LA METRALLA (⌐■_■)--︻╦╤─ - - - (╥﹏╥) 
*/
body{
	font-family: 'Josefin Sans', sans-serif;
}
/******************************
		LANDING
*******************************/
.portada{
	width: 100%;
	height: 100%;
}
#logo{
	width: 250px;
}
#letras{
	opacity: 1;
}
/**/
#letras .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill-opacity:0;
  animation: dash 6s 1.3s ease-out forwards, opacity 2s 2s linear forwards;
  
  
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes opacity {
  to {
    fill-opacity: 1;
  }
}
/**/
#puntos{
	opacity: .3;
	animation: puntos 5s forwards;
}

@keyframes puntos {
  to {
    opacity: 1;
  }
}
.idiomas a{
    color: rgba(255,0,0,0.7);
}
.idiomas a:hover{
    color: rgba(0,0,0,0.7);
}
.idiomas{
	opacity: 0;
	position: absolute;
	left: 48%;
	bottom: -200px;
	animation: idiomas 2s 2s linear forwards;
}
@keyframes idiomas {
  to {
    opacity: 1;
  }
}
#demo-canvas{
	opacity: 1;
	animation: canvas-opacity 2s 2s linear forwards;
}
@keyframes canvas-opacity {
  to {
    opacity: .3;
  }
}
/*****************************
		HOME
*****************************/
.nav_secciones{
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 300;
}
.nav_secciones_interior{
	position: absolute;
	top: 50px;
	right: 20px;
	font-weight: 300;
}

.nav_footer{
	font-weight:300;
	position: fixed;
	bottom: 0px;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.seccion_meta{
	vertical-align: super;
}
.iconos{
	display: inline;
}
.seccion_meta,
.seccion{
	padding: 0px 10px;
	color: rgba(140,140,140,1);
}
.seccion_meta:hover,
.seccion:hover{
	color: black;
}
.seleccionada{
	font-weight: 600;
	color: black;
}
.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.logo_peque{
	position: absolute;
	top: 13px;
	left: 13px;
}
.logo_peque img{
	width: 80px;
}

/*********************************
			MANIFESTO
**********************************/
.titulo_manifesto{
	display: none;
	text-transform: uppercase;
	position: absolute;
	top: 25%;
	left: calc(50% - 70px);
	color: red;
	width: 140px;
	font-size: 24px;
	font-weight: 300;
}
.texto_manifesto{
	font-family:'Rokkitt', serif;
	display: none;
	text-align: justify;
	position: absolute;
	top: 30%;
	left: calc(50% - 200px);
	font-size: 1.2em;
	font-weight: 400;
	width: 400px;
}
.cerrar_manifesto{
	position: absolute;
	top: 30px;
	right: 30px;
	color: red;
}
#musica{
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: red;
	cursor: pointer;
}
/*********************************
			GRID ARTISTAS
**********************************/
.grid_artistas{
	width: 980px;
	height: auto;
	margin: 0px auto;
	padding-top: 150px;
}
.artista{
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px; 
	overflow: hidden;
	-webkit-filter: grayscale(100%) brightness(105%) contrast(90%);
	filter: grayscale(100%) brightness(105%) contrast(90%);
}

.artista:hover {
	-webkit-filter: none;
	filter: none;
}
.artista h3{
	position: absolute;
	display: none;
	color: red;
	bottom: 200px;
	font-weight: 700;
	font-size: 2em;
	z-index: 200;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.artista a{
	display: none;
	position: absolute;
	color: white;
	bottom: 100px;
	font-weight: 700;
	font-size: 2em;
	z-index: 200;
	padding: 3px;
	border: 2px solid white;
	cursor: pointer;
	left: 20% ;
}
/*********************************
			PÁGINA ARTISTA
**********************************/

.contenedor_artista{
	max-width: 980px;
	margin: 0 auto;
	padding: 150px 20px 0px 20px;
}
.artista_interior{
	position: relative;
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px; 
	overflow: hidden;
}
.nombre_artista{
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	color: red;
	font-size: 2.4em;
	font-weight: 600;
	line-height: 1.7em;
}
.lineas{
	font-weight: 300;
	color: black;
}
.texto_artista{
	display: inline-block;
	font-size: 1.2em;
	padding: 10px;
	font-weight: 300;
	font-family:'Rokkitt', serif;
}
.souncloud_player{
	margin-top: 10px !important;
	float: right !important;
}

/**********************************************************
	Clases para manejar los efectos del plugin tilt.js
	http://tympanus.net/codrops/2015/05/28/image-tilt-effect/comment-page-1/#comments
**********************************************************/
.tilt {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.tilt__back,
.tilt__front {
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tilt__back {
	position: relative;
}

.tilt__front {
	position: absolute;
	top: 0;
	left: 0;
}
/***********************
SOUNDCLOUD PLAYER
************************/
#player{
	display: inline-block;
  position: relative;
  width: 100px;
  z-index: 500;
  height: 60px;
  padding-top: 18px;
  margin-left: 15px;
}
.mini-scrubber,
.start-time,
.stop-time,
.mini-connect,
.mini-info,
.mini-social{
	display: none !important;
}
 .slider{
	position: absolute;
	height: 20px;
	color: red;
	top:10px;
}
.td.player.light {
  border:none;
}
.controls i{
	color:rgba(0,0,0,0.6);
}
/***********************
     YOUTUBE PLAYER
************************/
#ytplayer{
	width: 900px;
	height: 506px;
	position: absolute;
	top: 20%;
	left: calc(50% - 450px);
	/*-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);	*/
}
/***********************
     MAPA CONTACTO
************************/
/*.contenedor_contacto{
	font-size: 22px;
	text-transform: uppercase;
	text-align: justify;
	width: 400px;
	height: 506px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}*/
.contenedor_contacto span{
	font-family: 'Rokkitt', serif;
	color: red;
	cursor: pointer;
	vertical-align:2px; 
}
.formulario,
#map { 
	width: 500px;
	height: 300px;
	position: absolute;
}	
.leaflet-bar {
  box-shadow: none; 
  border-radius: none; 
}
.formularioactivo{
	-webkit-transform: none !important;
	transform:none !important;
	opacity: 1 !important;
}
/***********************
     CONTACTO CUBO
************************/
.contenedor_cubo{
	width: 500px;
	height: 300px;
	position: relative;
	top: 30vh;
	left: calc(50% - 250px);
	perspective:1000px;
}
#cubo{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: transform 1s;
	-webkit-transform: translateZ(-100px);
	-webkit-transform-style: preserve-3d;
	transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.2);
	transform: translateZ(-100px);
	transform-style: preserve-3d;
}
#cubo div{
	width:  500px;
	height:  300px;
	display: block;
	position: absolute;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#cubo .frente{ 
	font-size: 30px;
	text-align: justify;
	-webkit-transform: rotateX(  0deg ) translateZ( 100px );
	transform: rotateX(  0deg ) translateZ( 100px ); 
}
.arriba{ 
	transition: transform .2s;
	-webkit-transform: rotateX(  90deg ) translateZ( 100px );
	transform: rotateX(  90deg ) translateZ( 100px ); 
}
.abajo{ 
	transition: transform .2s;
	-webkit-transform: rotateX( -90deg ) translateZ( 100px ); 
	transform: rotateX( -90deg ) translateZ( 100px ); 
}
.frente_visible{ 
	-webkit-transform: translateZ( -100px ) rotateY(    0deg ); 
	transform: translateZ( -100px ) rotateY(    0deg ); 
}
.arriba_visible{ 
	-webkit-transform: translateZ( -100px ) rotateX(  -90deg )!important; 
	transform: translateZ( -100px ) rotateX(  -90deg ) !important; 
}
 .abajo_visible{ 
	-webkit-transform: translateZ( -100px ) rotateX(   90deg )!important; 
	transform: translateZ( -100px ) rotateX(   90deg )!important; 
}
.opaco{
	opacity:1;
}

.boton_frente{
	cursor: pointer;
	width: 15px;
	height: 15px;
	position: absolute;
  right: 10px;
  top: 30px;
  color: red;
}
.boton_abajo,
.boton_arriba{
	font-family: 'Rokkitt', serif;
	color: red;
	text-transform: uppercase;
	cursor: pointer;
	vertical-align:2px;
}























